/**
 * Header general
 */
.site-header {
    /*max-height: 96px; //without tear paper effect*/
}
.site-header .site-logo {
    margin-top: -45px;
}



/**
 * Main navigation
 */
.nav-main li:not(:last-child) { margin-right: 15px; }



/**
 * Footer general
 */
.site-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: $c_default;
}