// Double gutter size will be added to this to determine .container width
$site_width: 1272px;

// Size between columns
$gutters: 24px;

// Font size (šo vajag definēt _font_face.css vai _typography,scss?)
$font-size-base: 18px;
$font-size-large: 24px;
$font-size-sm: $font-size-base;
$font-size-lg: $font-size-base;
$font-weight-normal: 500;

// Responsive setup
$breakpoints: (
	xl: 1360px,
	lg: 1100px,
	md: 768px,
	sm: 480px,
	xs: 0
);

$breakpoint_xl: map-get( $breakpoints, xl ) - 1;
$breakpoint_lg: map-get( $breakpoints, lg ) - 1;
$breakpoint_md: map-get( $breakpoints, md ) - 1;
$breakpoint_sm: map-get( $breakpoints, sm ) - 1;



// Colors
$c_default  : #242a30;
$c_primary  : #f07548;
$c_secondary: #3a95b0;
$c_light    : #cdd0d5;
$c_dark     : #242a30;
$c_error    : #ee1237;
$c_success  : #26a65b;
$c_font         : #2F4858;
$c_btn           : #ffa800;
$c_btn_hover : #ffda16;
$c_btn_active : #ff8a00;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y:         .7rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-line-height:        21px !default;

$input-btn-focus-width:       .2rem !default;
$input-btn-focus-box-shadow:  0 0 0 2px rgba(0, 0, 0, .25) !default;

$input-btn-padding-y-sm:      .25rem !default;
$input-btn-padding-x-sm:      .5rem !default;
$input-btn-line-height-sm:    $input-btn-line-height !default;

$input-btn-padding-y-lg:      .5rem !default;
$input-btn-padding-x-lg:      1rem !default;
$input-btn-line-height-lg:    $input-btn-line-height !default;

$input-btn-border-width:      0px !default;
$border-radius:                  6px;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y:               $input-btn-padding-y !default;
$btn-padding-x:               $input-btn-padding-x !default;
$btn-line-height:             $input-btn-line-height !default;

$btn-padding-y-sm:            $input-btn-padding-y-sm !default;
$btn-padding-x-sm:            $input-btn-padding-x-sm !default;
$btn-line-height-sm:          $input-btn-line-height-sm !default;

$btn-padding-y-lg:            $input-btn-padding-y-lg !default;
$btn-padding-x-lg:            $input-btn-padding-x-lg !default;
$btn-line-height-lg:          $input-btn-line-height-lg !default;

$btn-border-width:            $input-btn-border-width !default;

$btn-font-weight:               300 !default;
$btn-box-shadow:              inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075) !default;
$btn-focus-width:             $input-btn-focus-width !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$btn-disabled-opacity:        .65 !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba(0, 0, 0, .125) !default;

$btn-link-disabled-color:     $gray-600 !default;

$btn-block-spacing-y:         .5rem !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius !default;
$btn-border-radius-sm:       $border-radius !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;


// Forms

$label-margin-bottom:                   .5rem !default;

$input-padding-y:                       $input-btn-padding-y !default;
$input-padding-x:                       $input-btn-padding-x !default;
$input-line-height:                     $input-btn-line-height !default;

$input-padding-y-sm:                    $input-btn-padding-y-sm !default;
$input-padding-x-sm:                    $input-btn-padding-x-sm !default;
$input-line-height-sm:                  $input-btn-line-height-sm !default;

$input-padding-y-lg:                    $input-btn-padding-y-lg !default;
$input-padding-x-lg:                    $input-btn-padding-x-lg !default;
$input-line-height-lg:                  $input-btn-line-height-lg !default;

$input-bg:                               rgba(196, 196, 196, 0.4) !default;
$input-disabled-bg:                     $gray-200 !default;

$input-color:                           $gray-700 !default;
$input-border-color:                    $gray-400 !default;
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba(0, 0, 0, .075) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius !default;
$input-border-radius-sm:                $border-radius !default;

$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:           lighten(rgba(0, 0, 0, 1), 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-600 !default;
$input-plaintext-color:                    $c_font !default;

$input-height-border:                   $input-border-width * 2 !default;

/* Bootstrap 4 $input-height kalkulācija aizvietota parastu "auto" */
$input-height:          auto;
$input-height-sm:    auto;
$input-height-lg:      auto;

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

$form-text-margin-top:                  .25rem !default;

$form-check-input-gutter:               1.25rem !default;
$form-check-input-margin-y:             .3rem !default;
$form-check-input-margin-x:             .25rem !default;

$form-check-inline-margin-x:            .75rem !default;
$form-check-inline-input-margin-x:      .3125rem !default;

$form-group-margin-bottom:              1rem !default;

$input-group-addon-color:               $input-color !default;
$input-group-addon-bg:                  $gray-200 !default;
$input-group-addon-border-color:        $input-border-color !default;

// Form validation
$form-feedback-margin-top:          $form-text-margin-top !default;
$form-feedback-font-size:           $font-size-base !default;
$form-feedback-valid-color:         theme-color("success") !default;
$form-feedback-invalid-color:       theme-color("danger") !default;


// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                .5rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-bg:                       rgba(255, 255, 255, 1)  !default;
$dropdown-border-color:             rgba(0, 0, 0, .15) !default;
$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             1px !default;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               0 .5rem 1rem rgba(0, 0, 0, .175) !default;

$dropdown-link-color:               $gray-900 !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;

$dropdown-link-active-color:        rgba(255, 255, 255, 1) !default;
$dropdown-link-active-bg:           $c_btn_active !default;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           .25rem !default;
$dropdown-item-padding-x:           1.5rem !default;

$dropdown-header-color:             $gray-600 !default;



// Includes ( comment out or uncomment anything you need )
@import '../css/normalize.css';
@import '../css/reset.css';

// nepatīk šis variants. mapē framework iemetu, domāju automātiski pievienos. nebija ne jaussmas, ka te jāpieslēdz. Ir iespējams autoload šo?
// Framework
@import 'framework/bootstrap_grid';
@import 'framework/framework_layout';
@import 'framework/framework_page';
@import 'framework/framework_visual';
// @import 'framework/framework_print';
@import 'framework/framework_forms';
@import 'framework/framework_buttons';
@import 'font_face';

// Components
// @import 'components/pager';

// Theme
@import 'typography';
@import 'header_footer';
@import 'site_content';